.contactForm
{
    border:solid;
    border-top:hidden;
    border-width:thin;
    background-color:white;
    font-size:xx-large;
}

.formHeader
{
    border:solid;
    border-width:thin;
    border-bottom:hidden;
}

.contactForm input
{
    background-color:lightgrey;
}
.contactForm textarea
{
    background-color:lightgrey;
}
