.contactForm
{
    border:solid;
    border-top:hidden;
    border-width:thin;
    background-color:white;
    font-size:xx-large;
}

.formHeader
{
    border:solid;
    border-width:thin;
    border-bottom:hidden;
}

.contactForm input
{
    border-radius:5px;
    border-style:solid;
    border-width:thin;
    margin-top:0px;
    margin-bottom:20px;
    width:85%;
    height:20px;
}
.contactForm textarea
{
    border-radius:5px;
    border-style:solid;
    border-width:thin;
}

.contactForm h3
{
    font-size:xx-large;
    margin-top:0px;
    margin-bottom:0px;
}

.contactForm select
{
    margin-bottom:20px;
}
