element.style
{
    z-index:20;
}

.ui-dialog { 
    z-index: 1000 !important ;
    background-color:transparent;
    border-style:hidden;
    border-width:thick;  
    background-image:none;      
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    left: 110%;
    top: 85%;
    width: 60%;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 10%;
}

.ui-dialog button
{
    background-color:white;
    border-color:teal;
    color:black;
    font-size:medium;
}

.div
{
    width: 300%;
}

.content
{
    background-color:transparent;
}

.allSelections
{
    margin-left:500px;
    height:700px;
    overflow-x: hidden;
    overflow-y:auto;
}

.currentSelectionChoice
{
    display:block;
}

.previousSelections
{
    display:block;
    display: block;
    float:left;
    list-style: none;
}
 

.pictureOptionBox 
{
    margin-left:20px;
}

.measuringPopUp
{
     position:absolute;
            z-index:1;
}

.colorOption 
{
    position:relative;
            z-index:1;
}

.sizeOption 
{
    position:relative;
            z-index:1;
}

.typeOption
{
    position:relative;
            z-index:1;
}

.styleOption
{
    position:relative;
            z-index:1;
}

.pictureOptionBox img
{
    border-style:hidden;
    border-width:thick;
    border-color:teal;
}

.pictureOptionBox h1
{
    border:none;
}

/*put a bandiade here for now with margin-right, will have to be proporly fixed*/
.wordOptionBox 
{
    float:left;
    margin-left:0px;
    display:inline-flex;
}

.wordOptionBox h1
{
    cursor: pointer;
    border:none;
    margin-left:20px;
}

.styleOption h1
{
    border:none;
    display:inline-block;
}

.typeOptions h1
{
    border:none;
    display:inline-block;
}

.previewCanvas
{
    display:inline-block;
    float:left;
    position:absolute;
    margin-left: 30px;
    margin-bottom:50px;
    z-index: 0;
}

.colorOption img
{
    cursor: pointer;
    width:70px;
    height:70px;
}

.sizeOption img
{
    cursor: pointer;
    width:70px;
    height:70px;
}


