html
{
    font-family:DengXian;
}

body {
    margin: 0;
    background-image:url(../siteWide/images/bg-image.png);
}   

.bannerPicture
{
   display:block;
   position:relative;
   left:0;
   background-image:url('bannerPic.jpg');
   background-size: 100% 100%;
   background-repeat:no-repeat;
   height: 640px;
   border:0;
   margin:0;
   padding: 0;

   /*if i want to go back to full screen, remove these two*/
   //width:70rem;
  //margin-left:25rem;
}


.bannerPicture img
{
    position: relative;
    top: 32px;
    left: -16px);
    width: 0rem;
    border-right:0;
    height: 0rem;
}


.initalSelections
{
    display:inline-block;
    position:relative;
    background-color: white;
    height: 380px;
    margin-left: 80px;
    padding-left: 112px;
    border-style:solid;
    border-color:darkgrey;
    border-width:1px;
    
}

div
{
    display: inline-block;
}

.initalSelections img
{
    width: 320px;
    height: 256px;
}

.option
{
    padding-left: 0rem;
    padding-right: 24px;
    padding-top: 32px;
    position:relative;
    width: 384px;
    height: 320px;
}

.option h1
{
    color:white;
    position:absolute;
    font-size: 64px;
    left: 96px;
    top: 96px;
    opacity:0;
}

.overlay {
    opacity: 0;
    background-color: black;
    position: absolute;
    width: 384px;
    height: 320px;
}

.introduceProduct
{
    margin-top: -16px;
}

.introduceProduct h1
{
    text-align: center;
    color:white;
    //put back in to make border around text;
    font-family:Tahoma;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 48px;
    margin-left: 80px;
    margin-top: 16px;
    margin-bottom:0;
}

.introduceProduct .productLine
{
   display:block;
   position:relative;
   background-color:teal;
   background-size: 100% 100%;
   height: 5px;
   width: 1760px;
   margin-left: 80px;
   margin-top: 1px;
}
