body {
}

.petimonial
{
    position:relative;
    margin-top:20px;
    display:inline-block;
    background-color: rgba(0, 0, 0, .3);
    width:1000px;
    border:solid;
    border-color:teal;
}

.petimonial img
{
    margin-top:25px;
    margin-left:25px;
    float:left;
    width:300px;
    height:350px;
    margin-bottom:25px;
}

.petimonial h1
{
    margin-top:75px;
    margin-right:50px;
    float:right;
    width:580px;
}
